<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>
<body>
<div class="navigation">
   <img src="https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6kjf6Bqx5ImhvJwXs1M3EMoAJtlSErhfVj8fU7" align="right">
  <a href="feed" style="margin-right:12%; margin-top:23px;">Home</a>
  <div class ="dropdown">
    <button class="dropbtn" style="margin-right:12%; margin-top:23px;">States</button>
    <div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="california">California</a>
    <a href="washington">Washington</a>
    <a href="florida">Florida</a>
    <a href="hawaii">Hawaii</a>
    </div>
  </div>
  <a href="addpost" style="margin-right:12%; margin-top:23px;">Add Post</a>
  <a href="about" style="margin-right:12%; margin-top:23px;">About</a>
  	</div>
</body>
</html>