<!DOCTYPE html>
<html>
<head>
	<title>About me 🖋📃</title>
  <link rel="shortcut icon" href="http://www.clker.com/cliparts/B/b/e/c/Y/5/the-letter-s-hi.png" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>
<body>
<div class="navigation">
   <h1 style="margin-top:40px; font-size:40px; margin-left:2%; margin-right:10%;float:left;">Travel with Shira 🏝</h1>
  <a href="feed " style="margin-right:5%; margin-top:40px; float:left;">Home</a>
  <div class ="dropdown" style="margin-right:5%; float:left;">
    <button class="dropbtn" style=" margin-top:40px;">States</button>
    <div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="california">California</a>
    <a href="washington">Washington</a>
    <a href="florida">Florida</a>
    <a href="hawaii">Hawaii</a>
    <a href="other">Other</a>
    </div>
  </div>
  <a href="addpost" style="margin-right:5%; margin-top:40px;float:left;">Add Post</a>
  <a href="about" style="margin-right:5%; margin-top:40px; float:left;">About</a>
  <a href="feed"  style= "float:right; margin-right:2%;">
  <img src="static\logo.png" ></a>
</div>

<div class="aboutme">
  <h2>Hello users,</h2>
  <h2>My name is Shira Struminski.</h2>
  <h2>I live in Israel in the Jerusalem district.</h2>
  <h2>I live in Mevassert Zion and go to school in Harel high school. I'm a student in MEET - Middle East Entreprenures of tommorow. I like to say I'm a young student with a passion for technology.</h2>
  <h2>My dream is to make a diffrence and to create change, and technology is my way to do so.</h2>
  <h2>I love traveling and seeing new places and cultures in the world, and therefore my website. Most of these posts are places I was fortunate to visit in my (other) country, USA.</h2>
  <center><img src="static\me.jpg" style="max-width: 500px; max-height: 250px"></center>
  <br>
  <h2>This website is for recommending places to travel in and to share love and appreciation to cool places around the USA. </h2>
  <h2>You're welcome to look around, add posts and rate places. This website is for you !</h2>
  <h2>Hope you enjoy!</h2>

</div>
</body>
</html>
