<!DOCTYPE html>
<html>
<head>
	<title>Add post 📝</title>
  <link rel="shortcut icon" href="http://www.clker.com/cliparts/B/b/e/c/Y/5/the-letter-s-hi.png" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Coming Soon' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Leckerli One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Crafty Girls' rel='stylesheet'>
  <script src="static\myfile.js">
  </script>
</head>
<body>
<div class="navigation">
   <h1 style="margin-top:40px; font-size:40px; margin-left:2%; margin-right:7%;float:left;">Travel with Shira 🏝</h1>
  <a href="feed " style="margin-right:7%; margin-top:40px; float:left;">Home</a>
  <div class ="dropdown" style="margin-right:7%; float:left;">
    <button class="dropbtn" style=" margin-top:40px;">States</button>
    <div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="california">California</a>
    <a href="washington">Washington</a>
    <a href="florida">Florida</a>
    <a href="hawaii">Hawaii</a>
    <a href="other">Other</a>
    </div>
  </div>
  <a href="addpost" style="margin-right:7%; margin-top:40px;float:left;">Add Post</a>
  <a href="about" style="margin-right:7%; margin-top:40px; float:left;">About</a>
  <a href="feed"  style= "float:right; margin-right:2%;">
  <img src="https://image.ibb.co/jXXvRw/logo.png" ></a>
</div>
<br><br>
<h1 style="font-family: 'Leckerli One'">Add post</h1>
<h3 style="font-family: 'Crafty Girls'; ">We'd love for you to reccomend others cool places to visit in your area or from your expirience. Help others enjoy!</h3>
<br><br>
<form action="{{ url_for('addpost') }}" method="POST" style=" font-family: 'Coming Soon'">
  <input type="text" name="title" placeholder="Title - Name of the place"><br><br>
  <input type="radio" name="state" value="New York">New York 
  <input type="radio" name="state" value="Texas">Texas
  <input type="radio" name="state" value="California">Califronia
  <input type="radio" name="state" value="Washington">Washington
  <input type="radio" name="state" value="Florida">Florida
  <input type="radio" name="state" value="Hawaii">Hawaii
  <input type="radio" name="state" value="Other">Other <br><br>
  <textarea placeholder="Describe the place, your likes and dislikes, and of course where it is and" style="height:100px; width: 400px" name="textish"></textarea>
  <br>
  <input type="text" name="pic_url" placeholder="Enter image url" style="margin-right: 10px">
  <input class="cancel" type="submit"  onclick="popupadd()">
  <a class="cancel" href="{{url_for('feed')}}" >Cancel</a>

</form>

</body>
</html>
