<!DOCTYPE html>
<html>
<head>
	<title>Add post</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Coming Soon' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Leckerli One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Crafty Girls' rel='stylesheet'>
</head>
<body>
<div class="navigation">
   <a href="feed"  style= "float:left; margin-left:25px; margin-right:8%">
  <img src="https://image.ibb.co/jXXvRw/logo.png" ></a>
  <a href="feed " style="margin-right:9%; float:left;; margin-top:40px;">Home</a>
  <div class ="dropdown" style="margin-right:9%; float:left">
    <button class="dropbtn" style=" margin-top:40px;">States</button>
    <div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="california">California</a>
    <a href="washington">Washington</a>
    <a href="florida">Florida</a>
    <a href="hawaii">Hawaii</a>
    </div>
  </div>
  <a href="addpost" style="margin-right:9%; margin-top:40px;float:left;">Add Post</a>
  <a href="about" style="margin-right:9%; margin-top:40px; float:left;">About</a>
</div>
<br><br>
<h1 style="font-family: 'Leckerli One'">Add post</h1>
<h3 style="font-family: 'Crafty Girls'; ">We'd love for you to reccomend others cool places to visit in your area or from your expirience. Help others enjoy!</h3>
<br><br>
<form action="{{ url_for('addpost') }}" style=" font-family: 'Coming Soon'">
  <input type="text" name="title" placeholder="Title - Name of the place"><br><br>
  <input type="radio" name="state" value="new york">New York 
  <input type="radio" name="state" value="texas">Texas
  <input type="radio" name="state" value="california">Califronia
  <input type="radio" name="state" value="washington">Washington
  <input type="radio" name="state" value="florida">Florida
  <input type="radio" name="state" value="hawaii">Hawaii
  <input type="radio" name="state" value="other">Other <br><br>
  <textarea placeholder="Describe the place, your likes and dislikes, and of course where it is and" style="height:100px; width: 400px" name="textarea"></textarea><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
