
<!DOCTYPE html>
<html>

<head>
	<title>Travel with Shira 👸🏝</title>
  <link rel="shortcut icon" href="http://www.clker.com/cliparts/B/b/e/c/Y/5/the-letter-s-hi.png" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>
</head>
<body>
<div class="navigation" >
  <a href="feed"  style= "float:left; margin-left:25px; margin-right:8%">
  <img src="https://image.ibb.co/jXXvRw/logo.png" ></a>
  <a href="feed " style="margin-right:9%; float:left;; margin-top:40px;">Home</a>
  <div class ="dropdown" style="margin-right:9%; float:left">
    <button class="dropbtn" style=" margin-top:40px; font-size:24px;">States</button>
  	<div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="california">California</a>
    <a href="washington">Washington</a>
    <a href="florida">Florida</a>
    <a href="hawaii">Hawaii</a>
    <a href="other">Other</a>
  	</div>
	</div>
  <a href="addpost" style="margin-right:9%; margin-top:40px;float:left;">Add Post</a>
  <a href="about" style="margin-right:9%; margin-top:40px; float:left;">About</a>
</div>
<br><br>
<div class="container" style="font-family: 'Caveat Brush';display:inline; float=center">
  <a href="feed" style="margin-right:20px"data-animation="ripple"class="btn striped-shadow dark">Newest posts</a>
  <a href="rated" style=" position: relative;"data-animation="ripple"class="btn striped-shadow dark">Most reccomnded places</a>
 <br><br><br><br>
</div>
 
  {% for post in posts %}
<div class="post" style="font-family: 'Annie Use Your Telescope';border-style: solid;border-width: 3px; text-align: center;">
  <h1>{{post.title}}</h1>
  <h2>{{post.city}}</h2>
  <h3>{{post.text}}</h3>
  <h3>Avrage rating : {{post.av_rating}}</h3>
  <br><h3>Rate this place :</h3>
  <form action="{{url_for('rate',post_id=rating)}}" style="font-size: 25px" >
  
  <input type="radio" name="rating" value="1">1
  <input type="radio" name="rating" value="2">2
  <input type="radio" name="rating" value="3">3
  <input type="radio" name="rating" value="4">4
  <input type="radio" name="rating" value="5">5
  <br>
  <input type="submit" class="cancel">
</form>
</div>
<br><br>
 {% endfor %}
<br><br>
</body>
</html>