
<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
<head>
	<title>LIVE IN EXTREAME</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>
<body>
<div class="navigation">
  <a href="feed">Home</a>
   <div class ="dropdown">
  	<button class="dropbtn">Cities</button>
  	<div class="dropdown-content">
    <a href="new york">New York</a>
    <a href="texas">Texas</a>
    <a href="#">Link 3</a>
  	</div>
	</div>
  <a href="addpost">Add Post</a>
  <a href="about">About</a>
</div>
<br><br>
<h1>The newest posts</h1>
<div class="post" style="font-family: 'Annie Use Your Telescope';border-style: solid;border-width: 5px;">
  {%for post in posts%}

  <h2>{{post.title}}</h2>
  <h4>{{post.city}}</h4>
  <p>{{post.text}}</p>

  {%endfor%}
</div>
<br><br>
</body>
</html>